<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MUSIC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/datatables/css/dataTables.bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css}">
    <style>
        .center-box {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body class="bg-dark">
<div class="container">
    <div class=" bg-light">
        <div class="h1 center-box"> THÊM MỚI BLOG</div>
        <form th:action="@{/customer/save}" th:object="${customer}" method="post" class="p-3">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label>Nhập Id khách hàng</label>
                <input th:field="*{customerId}" placeholder="Nhập Id khách hàng" class="form-control">
            </div>

            <div class="form-group">
                <label>Nhập Tên khách hàng</label>
                <input th:field="*{name}" placeholder="Nhập tên khách hàng"  class="form-control">
            </div>

            <div class="form-group">
                <label>Năm sinh</label>
                <input type="date" th:field="*{birthday}"  class="form-control">
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <label>Giới tính</label>
                    <br>
                    <input type="radio" th:field="*{gender}" value="Male"> Male</input>
                    <input type="radio" th:field="*{gender}" value="Female"> Female</input>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label>CMND</label>
                <input type="text" th:field="*{idCard}" placeholder="Nhập CMND khách hàng"  class="form-control">
            </div>

            <div class="form-group">
                <label>Số điện thoai</label>
                <input type="text" th:field="*{phone}" placeholder="Nhập số điện thoại khách hàng"  class="form-control">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" th:field="*{email}" placeholder="Nhập email khách hàng"  class="form-control">
            </div>

            <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" th:field="*{address}" placeholder="Nhập địa chỉ khách hàng"  class="form-control">
            </div>

            <div class="form-group">
                <label>Loại khách</label>
                <select th:field="*{customerType}">
                    <option th:each="customerType: ${customerTypeList}" th:value="${customerType.idType}"
                            th:text="${customerType.nameCustomerType}">

                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-dark w-100">Submit</button>
        </form>
    </div>
</div>
</body>

<script th:src="@{resources/static/bootstrap/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{resources/static/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{resources/static/bootstrap/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{resources/static/bootstrap/bootstrap413/js/bootstrap.bundle.js}"></script>
</html>